<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Project 2 - About Our Team Page" />
    <meta name="author" content="Ekin Kaplan" />
    <title>ABOUT OUR TEAM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico" />
    <!-- Beautiful front-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/25f64a2ed2.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
        rel="stylesheet" />

    <link href="/static/css/style-about.css" rel="stylesheet" />

<body>
    <!-- Navigation-->
    <a name="top-page"></a>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Satellite History
                <img class="nav-sat-logo" src="/static/assets/img/satellite.svg">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#proj-desciption">Project
                            Description</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/visualization">Visualization</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Database</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/#database">API Access</a>
                            <a class="dropdown-item" href="/api">API List</a>
                            <a class="dropdown-item" href="/data-filterable">Filterable Data Table</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <img src="/static/assets/img/nebula.jpg" alt="on our way to Nebula" class="j-img">
            <h1>Meet Our Team!</h1>
            <hr class="henry-1" />
            <h4>Inspire Data Science thru Amazing Visualization</h4>
        </div>
    </div>

    <section class="main-section">
        <div class="container main-sect" id="container">
            <div class="row heading heading-icon">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="team-tile">
                        <figure><img src="/static/assets/img/portfolio/team/HNL.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3 class="team-name">Henry Le</h3>
                        <p class="job-title">Project Team Lead<br>Front & Back-End Developer</p>
                        <hr class="henry-1">
                        <p class="team-background">Hi! I'm a Petroleum Engineer and well-known for fast learning,
                            creative problem solving, competitive negotiation, and continuous project improvement. Three
                            of my former managers recognized me as a hard-working professional
                            that never stops finding solutions for any challenges, and persistently testing my limits to
                            fulfill the assigned tasks to the fullest. Folks enjoy working with me as I'm a highly
                            collaborative professional with a great
                            positive attitude, and always there ready to provide support. I possess an excellent growth
                            mindset that never says no to new opportunities, to create initiatives, and to make a
                            difference. I love to learn and share new
                            knowledge, to lead and motivate teammates. <br><br> I'm a true believer of technologies in
                            transforming "Impossible" into "I'm POSSIBLE". Throughout my career, I never stop finding
                            opportunities to create high quality cost-effective
                            execution plans for international oil and gas projects, which resulted in multi-million
                            dollar project savings. Against all the laws of physics, I do believe that the moment I stop
                            moving forward is when I start moving
                            backward. Everything around us is evolving faster than ever; tomorrow is even faster than
                            today. So I must fast forward. <br><br>
                            <div class="row">
                                <div class="col-md-4">
                                    <a id="contact-a" href="https://github.com/henryle-n/">
                                        <i class="fab fa-github"></i>
                                        <p id="contact-info-links"> GitHub</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a id="contact-a" href="https://www.linkedin.com/in/le-henry">
                                        <i class="fab fa-linkedin"></i>
                                        <p id="contact-info-links"> Linkedin</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a id="contact-a" href="mailto:henryle.b11@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                        <p id="contact-info-links"> Email</p>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="team-tile">
                        <figure><img src="/static/assets/img/portfolio/team/EK.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3 class="team-name">Ekin Kaplan</h3>
                        <p class="job-title">Project Team Member<br>-----<br>JavaScript Developer</p>
                        <hr class="henry-1">
                        <p class="team-background">Hi! In this world, data collection is no longer limited. That's why I
                            am here ! I collected the data for processing, managing & creating visualization charts for
                            the end users. I am good at using different data visualization
                            tools for accurate data interpretations & enjoy ways of making data come to life visually.
                        </p>
                        <p> It is a pleasure for me to work with my amazing team members.</p>
                        <p>"If you torture the data long enough, it will confess to anything." <br> -Ronald Coase
                            <br><br>
                            <div class="row">
                                <div class="col-md-4">
                                    <a id="contact-a" href="https://github.com/ekin651">
                                        <i class="fab fa-github"></i>
                                        <p id="contact-info-links"> GitHub</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a id="contact-a" href="https://www.linkedin.com/in/kaplan-ekin">
                                        <i class="fab fa-linkedin"></i>
                                        <p id="contact-info-links"> Linkedin</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a id="contact-a" href="mailto:ekinkamanli@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                        <p id="contact-info-links"> Email</p>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="team-tile">
                        <figure><img src="/static/assets/img/portfolio/team/OJN.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3 class="team-name">O.J. Ndebbio</h3>
                        <p class="job-title">Project Team Member<br>-----<br>JavaScript Developer</p>
                        <hr class="henry-1">
                        <p class="team-background">I am a dynamic, accomplished Professional with the educational
                            background and proven work ethic to handle data analysis to drive process improvement for
                            industry establishments.<br><br>
                            My strengths are my ability to multi-task and my quest for success in productivity. I am
                            hard working and dependable with a variety of skills and common sense and a fast learner to
                            new applications & technologies.<br><br>
                            It was an amazing experience working with my team mates on this project. <br><br>
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <a id="contact-a" href="https://github.com/ojndebbio">
                                    <i class="fab fa-github"></i>
                                    <p id="contact-info-links">GitHub</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a id="contact-a" href="https://www.linkedin.com/in/odudu-ndebbio-b6023414">
                                    <i class="fab fa-linkedin"></i>
                                    <p id="contact-info-links">Linkedin</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a id="contact-a" href="mailto:ojndebbio@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                    <p id="contact-info-links">Email</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <div class="footer-section">
        <div class="container-fluid">
            <div class="footer-text">
                <span class="footer-text-1">Brought to you by:</span>
                <span class="footer-text-2">Ekin Kaplan</span>
                <span class="footer-text-1"> & </span>
                <span class="footer-text-2">Henry Le</span>
                <br><span class="footer-text-1">June, 2020</span>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/index-scripts-scroll.js"></script>

</body>
</head>

</html>