<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Project 2 - Api list page" />
    <meta name="author" content="Ekin Kaplan" />
    <title>ABOUT OUR TEAM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico" />
    <!-- Beautiful front-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- online CSS-->
    <!--     I'm all about icon, and beautiful fonts - Henry/ Jun 2020     -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/25f64a2ed2.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Henry's customized styles-->
    <link href="/static/css/style-about.css" rel="stylesheet" />

    <body>
        <!-- Navigation-->
        <a name="top-page"></a>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">Satellite History
                <img class="nav-sat-logo" src="/static/assets/img/satellite.svg">
            </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">

                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#top-page">About Our Team</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#proj-desciption">Project
                            Description</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/visualization">Visualization</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Database</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/#database">API Access</a>
                                <a class="dropdown-item" href="/api">API List</a>
                                <a class="dropdown-item" href="/data-filterable">Filterable Data Table</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="page-section bg-primary team-tile-section2 padding-lg team-tile-section-about" id="/api">
            <div class="container">
                <div class="row justify-content-center">

                </div>
            </div>

            <div class="container-lg">

                <ul class="row">
                    <li class="col-12">

                    </li>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="api-list">
                                <p id="heading-1">Click a link below</p>
                                <hr>
                                <ul>
                                    <li><a class="api-link" href="/api/satellite-directory">All Satellite Name Records</a>
                                    </li>
                                    <br>
                                    <li><a class="api-link" href="/api/launch-date">Launch Date Records</a></li><br>
                                    <li><a class="api-link" href="/api/top10-launch-dates">Top 10 Launch Date Records</a>
                                    </li>
                                    <br>
                                    <li><a class="api-link" href="/api/metadata">Database Descriptions (Metadata)</a></li>
                                    <br>
                                    <li><a class="api-link" href="/api/satellite-bio">Satellite Biography (46yrs)</a>
                                        <ul>
                                            <li><a class="api-link" href="/api/satellite-bio/1HOPSAT-TD (1st-generation High Optical Performance Satellite)">Example
                                                :: "1HOPSAT-TD" Record</a></li>
                                        </ul>
                                    </li><br>
                                    <li><a class="api-link" href="/api/lauch-history-by-country">Total Satellite Launch
                                        Counts
                                        by Country</a>
                                        <ul>
                                            <li><a class="api-link" href="/api/lauch-history-by-country/USA">Example ::
                                                Total
                                                Satellite Launch Counts by USA</a></li>

                                        </ul>
                                    </li><br>
                                    <li><a class="api-link" href="/api/master-record">46 years of Satellite Launch Master
                                        Data</a></li>
                                    <a class="btn btn-primary" id="btn-back" href="/">Back to Main Page</a><br />
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="get-to-know-us">
                        <div class="col-md-3 col-xs-12">
                            <a class="btn btn-light btn-xl js-scroll-trigger" id="btn-about" href="/">Home</a>
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <a class="btn btn-light btn-xl js-scroll-trigger" id="btn-about" href="/api">APIs</a>
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <a class="btn btn-light btn-xl js-scroll-trigger" id="btn-about" href="/visualization">Visualization</a>
                        </div>
                    </div>
        </section>


        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container ">
                <div class="medium text-center text-muted">Brought to you by: <b>Ekin Kaplan</b><br>June, 2020</div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/index-scripts-scroll.js"></script>
</head>

</html>