<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Satellite DB Visualization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/d3-Style.css">
    <link rel="stylesheet" href="/static/css/style-EK-HL-Viz.css">




</head>

<body onload="initChart()">
<!-- <body> -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Satellite Visualization</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-2">
        <div class="well">
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            {% for user_id in user_ids %}
              <option value="{{user_id}}">{{user_id}}</option>
            {% endfor %}          
          </select>
        </div> -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Demographic Info</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
            </div>
        </div>

        <!-- ========= OJ Country Comparison Bar Chart ================== -->
        <div class="row">
            <div class="col-md-12">
                <div id="ojCountryBar"></div>
            </div>

            <!-- ========= OJ Country Comparison Radial Bar Chart ================== -->
            <div class="col-md-12">
                <div id="ojCountryRadialBar"></div>
            </div>

            <!-- ========= OJ ChroPleth Chart ================== -->
            <div class="col-md-12">
                <div id="ojChroPleth"></div>
            </div>
        </div>

        <!-- ========= OJ Sliding Map ================== -->
        <div class="row">
            <div class="col-md-12">
                <div id="odSlidingChart"></div>
            </div>
        </div>

        <!-- ========= EK Multi-Axes Lauch Date ================== -->
        <div class="row">
            <div class="col-md-12">
                <div id="HenryMultiX"></div>
            </div>
        </div>

        <!-- ========= EK Multi-Axes Lauch Date ================== -->
        <div class="row">
            <div class="col-md-12">
                <div id="LaunchDayBar"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="/static/js/demoHL_Viz.js"></script> -->
    <script src="/static/js/EK_HL_Viz_inDev4.js"></script>
    <script src="/static/js/HenryVizMultiAxes.js"></script>
    <script src="/static/js/logWhichJS.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    
</body>

</html>